{% extends 'base.html' %}

{% block content %}

<header>
    <nav>
         <select name="" id="" onchange="if (this.value) location.href = this.value;">
            <option value="{% url 'big_scrun' %}">big scrunchies</option>
            <option value="{% url 'anime_pens' %}">anime_pens</option>
            <option value="{% url 'cry_baby' %}">anime_pens</option>
            <option value="{% url 'doormats' %}">anime_pens</option>
            <option value="{% url 'jelly_bunny' %}">anime_pens</option>
            <option value="{% url 'melamine_plates' %}">anime_pens</option>
            <option value="{% url 'mofusand' %}">anime_pens</option>
            <option value="{% url 'neck_pillow' %}">anime_pens</option>
            <option value="{% url 'pencil_pouch' %}">anime_pens</option>
            <option value="{% url 'sanrio_spoon_set' %}">anime_pens</option>
            <option value="{% url 'sanrio_stickers' %}">anime_pens</option>
        </select>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'user_cart_items' %}">Cart</a>
        <a href="#">Profile</a>
    </nav>
</header>
          
<div class="category">
    <h2>{{ category.name }}</h2>
    <div class="products">
        {% for prod in category.products.all %}
        <div class="product-card">
            <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
            <p>{{ prod.name }}</p>
            <button>Add to Cart</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
