{% extends 'base.html' %}
{% block content %}

<header>
    <nav>
        <select name="" id="" onchange="if (this.value) location.href = this.value;">
            <option value="{% url 'big_scrun' %}">big scrunchies</option>
            <option value="{% url 'anime_pens' %}">anime_pens</option>
            <option value="{% url 'cry_baby' %}">cry_baby</option>
            <option value="{% url 'doormats' %}">doormats</option>
            <option value="{% url 'jelly_bunny' %}">jelly_bunny</option>
            <option value="{% url 'melamine_plates' %}">melamine_plates</option>
            <option value="{% url 'mofusand' %}">mofusand</option>
            <option value="{% url 'neck_pillow' %}">neck_pillow</option>
            <option value="{% url 'pencil_pouch' %}">pencil_pouch</option>
            <option value="{% url 'sanrio_spoon_set' %}">sanrio_spoon_set</option>
            <option value="{% url 'sanrio_stickers' %}">sanrio_stickers</option>
        </select>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'user_cart_items' %}">Cart</a>
        <a href="#">Profile</a>
    </nav>
</header>

<div class="category">
    <h2>{{ category.name }}</h2>
    <div class="products">
        {% for prod in category.products.all %}
        <div class="product-card">
            <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
            <p>{{ prod.name }}</p>
            <button>Add to Cart</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}