{% extends 'base.html' %}

{% block content %}

<header>
    <nav>
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'user_cart_items' %}">Cart</a>
        <a href="#">Profile</a>
    </nav>
</header>
          
<div class="category">
    <h2>{{ category.name }}</h2>
    <div class="products">
        {% for prod in category.products.all %}
        <div class="product-card">
            <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
            <p>{{ prod.name }}</p>
            <button>Add to Cart</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
